<div class="cPrincipal">
  <div  style="text-align: center;">
    <h1 style="color: white;">Algoritmo Dijkstra - by Naac</h1>
  </div>
  <div class="contenedor" #divContainer>
    <svg class="lines">
        <ng-container *ngFor="let line of conexiones">
          <line [attr.x1]="line.startX" [attr.y1]="line.startY" [attr.x2]="line.endX" [attr.y2]="line.endY" style="text-align: center;" [ngClass]="{ 'visible': line.visible }"></line>
          <text [attr.x]="(line.startX + line.endX) / 2" [attr.y]="(line.startY + line.endY) / 2" class="line-text" style="stroke: white !important" [ngClass]="{ 'visible': line.visible }">{{ line.text }}</text>
        </ng-container>
      </svg>
    <div *ngFor="let circle of nodosVista" (click)="indicarNodoRutas(circle.id)" [style.left.px]="circle.x" [style.top.px]="circle.y" [style.background]="circle.color" class="circle"  [ngClass]="{ 'visible': circle.visible }">
      <p>{{circle.texto}}</p>
    </div>
  </div>
  <div style="min-height: 50px;">
    <div class="row">
      <div class="col" style="justify-content: center; display: flex;">
        <div class="circle" [style.background]="nodoInicio.color">
          <p>{{nodoInicio.texto}}</p>
        </div>
      </div>
      <div class="col" style="justify-content: center; display: flex;">
        <div class="circle" [style.background]="nodoFin.color">
          <p>{{nodoFin.texto}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col" style="justify-content: center; display: flex;">
      <button mat-flat-button color="warn" (click)="abrirModalCrearNodo()">Crear Nodo</button>
    </div>
    <div class="col" style="justify-content: center; display: flex;">
      <button mat-flat-button color="warn" (click)="calcularRuta()">Calcular Ruta</button>
    </div>
    <div class="col" style="justify-content: center; display: flex;">
      <button mat-flat-button color="warn" (click)="ocultarOtrosNodos('Peso')">Por Peso</button>
    </div>
    <div class="col" style="justify-content: center; display: flex;">
      <button mat-flat-button color="warn" (click)="ocultarOtrosNodos('valor')">Por Valor</button>
    </div>
    <div class="col" style="justify-content: center; display: flex;">
      <button mat-flat-button color="warn" (click)="mostrarGrafo()">Ver grafo</button>
    </div>
    
  </div>
</div>